/* DH - adjust to make text wrap around poster in Stage Card */
.movie-poster {
  height: 200px !important ;
}
/* DH - own class for center images */
.is-horizontal-center {
  justify-content: center !important;
}

/* DH - added second media query to get posters & buttons working nicely on resize */
@media screen and (max-width: 1220px) {
  .columns.is-mobile > .column.is-2 {
    width: 25%;
  }
}

/* DH - added to get search button full width on mobile */
@media screen and (max-width: 1024px) {
  #search-button {
    box-sizing: border-box;
    margin: 10px 0px 0px 0px !important;
    padding: 0px !important;
    width: 100%;
  }
}

/* DH - Had to manually add this to get 1/3rd collection posters working on mobile  */
@media screen and (max-width: 768px) {
  .columns.is-mobile > .column.is-2 {
    width: 33%;
  }
}
