/* DH - adjust to make text wrap around poster in Stage Card */
.movie-poster {
  height: 200px !important ;
}
/* DH - own class for center images */
.is-horizontal-center {
  justify-content: center !important;
}

/* DH - Had to manually add this to get 1/3rd collection posters working on mobile  */
/* DH - added second media query to get posters & buttons working nicely on resize */
@media screen and (max-width: 1220px) {
  .columns.is-mobile > .column.is-2 {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .columns.is-mobile > .column.is-2 {
    width: 33%;
  }
}
